In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [13]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [14]:
from sklearn.svm import SVR
regressor=SVR(kernel='rbf',C=1000)
regressor.fit(x_train,y_train)

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000)

In [15]:
regressor.intercept_

array([0.34961713])

In [16]:
regressor.support_

array([  2,   4,   6,   8,   9,  12,  13,  15,  21,  22,  25,  26,  29,
        30,  33,  36,  37,  39,  41,  44,  45,  46,  47,  52,  54,  58,
        59,  61,  66,  68,  69,  70,  71,  72,  75,  76,  85,  87,  90,
        91,  92,  95, 100, 104, 105, 107, 113, 117, 118, 121, 123, 125,
       126, 129, 132, 138, 147, 149, 153, 155, 158, 162, 164, 165, 168,
       169, 174, 177, 178, 179, 183, 187, 192, 193, 195, 197, 199, 200,
       201, 202, 203, 204, 206, 207, 209, 211, 212, 213, 214, 215, 218,
       220, 227, 231, 233, 236, 237, 238, 239, 240, 241, 242, 243, 245,
       247, 251, 253, 255, 257, 259, 263, 264, 266, 267, 273, 274, 276,
       279, 281, 285, 286, 295, 296, 297, 300, 308, 312, 315, 317, 319,
       321, 322, 323, 326, 331, 334, 335, 337, 338, 343, 344, 347, 348,
       349, 351, 353, 357, 360, 361, 364, 365, 366, 370, 373, 375, 376,
       382, 384, 386, 387, 388, 389, 391, 392, 395, 397, 399, 400, 401,
       410, 412, 413, 418, 421, 422, 423, 424, 426, 427, 428, 430, 433,
       436, 437, 442, 444, 445, 446, 447, 448, 449, 450, 452, 453, 454,
       458, 459, 460, 464, 468, 470, 472, 474, 478, 481, 484, 486, 487,
       490, 491, 492, 493, 494, 495, 497, 499, 505, 507, 510, 512, 513,
       514, 519, 522, 523, 527, 528, 530, 532, 535, 536, 537, 540, 543,
       544, 545, 547, 548, 549, 550, 554, 558, 560, 562, 563, 564, 566,
       568, 570, 573, 575, 576, 579, 583, 584, 585, 587, 590, 593, 596,
       598, 601, 603, 604, 605, 606, 607, 608, 611, 612, 615, 622, 623,
       624, 625, 628, 634, 639, 641, 645, 648, 649, 653, 655, 656, 657,
       658, 659, 660, 661, 662, 674, 676, 678, 682, 685, 688, 689, 692,
       695, 696, 698, 700, 701, 702, 708, 710, 713, 717, 723, 724, 725,
       727, 728, 729, 730, 731, 734, 735, 737, 738, 741, 744, 745, 748,
       749, 750, 751, 753, 758, 761, 762, 768, 777, 779, 780, 781, 783,
       784, 785, 786, 790, 794, 795, 798, 799, 800, 801, 805, 806, 807,
       808, 809, 811, 813, 815, 817, 825, 826, 827, 828, 830, 831, 833,
       834, 837, 838, 839, 842, 844, 846, 847, 850, 852, 855, 856, 859,
       862, 865, 866, 868, 870, 873, 875, 876, 877, 880, 881, 884, 888,
       895, 896, 897, 898, 900, 904, 906, 907, 908, 909, 910, 911, 915,
       918, 927, 928, 929, 930, 933, 935])

In [17]:
y_pred=regressor.predict(x_test)

In [18]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
r_score

0.8158353481270291

In [20]:
import pickle
filename="finalized_modle_SVRP.sav"

In [21]:
pickle.dump(regressor,open(filename,'wb'))

In [22]:
preinput=sc.transform([[1300,12000,4000,0,1]])

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [23]:
preinput

array([[ 9.00051009e+01,  1.92053223e+03,  3.32259985e+03,
        -9.76765571e-01,  1.98149332e+00]])

In [24]:
loaded_model=pickle.load(open("finalized_modle_SVRP.sav",'rb'))
result=loaded_model.predict(preinput)

In [25]:
result

array([0.34961713])

In [27]:
preoutput=scy.inverse_transform([result])

In [28]:
preoutput

array([[17384.18722656]])